@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: "Nunito Sans", "Arial";
}

body {
  background-color: #25367b;
  color: white;
}

.slide-in {
  transform: translateX(-4.1rem);
  background-color: #192865;
}
